# Configuration Stripe KYRAN
STRIPE_PUBLIC_KEY=pk_live_51UBHzpPe2ed8eDFCLWitUrUCiODYAkhUGficIbsYdpBjhfUSMPSFxxcFMomkexlykk9bXc99ofxXasmGfbiSnRJG00ORucyBmB
# Ne jamais commiter la clé secrète ci-dessous (.gitignore la protège)
STRIPE_SECRET_KEY=sk_live_votre_cle_secrete
STRIPE_PAYMENT_LINK=https://buy.stripe.com/eVqeVfaWz4k02yY1UqaEE00
